#root {
  display: flex;
  flex-direction: column;
  /* max-width: 1280px; */
  margin: 0 auto;
  /* padding: 2rem; */
  text-align: center;
  min-height: 100dvh;
}

.container {
  display: flex;
  flex-direction: column;
  width: 100dvw;
}
